DESK_MODEL_BASE_URL=
DESK_MODEL_API_KEY=
DESK_MODEL_MODEL=

DESK_FLASH_BASE_URL=
DESK_FLASH_API_KEY=
DESK_FLASH_MODEL=

DESK_PRO_BASE_URL=
DESK_PRO_API_KEY=
DESK_PRO_MODEL=

DESK_EMBEDDING_BASE_URL=
DESK_EMBEDDING_API_KEY=
DESK_EMBEDDING_MODEL=